.margin_top_32{
    margin-top: 32px;
}

.margin_top_16{
    margin-top: 16px;
}

.margin_top_8{
    margin-top: 8px;
}


.margin_bottom_32{
    margin-bottom: 32px;
}

.margin_bottom_16{
    margin-bottom: 16px;
}

.margin_minus_50{
    margin-top: 10px ; 
}

.text-bold{
    font-weight: bold;
    font-size: 18px;
}

.padding_left_32{
    padding-left: 32px;
}



/* Css -- index  */

.slide_title{
    color: #1c5e1d !important; 
    font-weight: bold !important;
}

.slide.slide_contact{
    color: #0c4b92 ; 
    font-weight: bold ;
    font-size: 28px;
}

.bui.text_introduction{
    font-size: 18px;
}

.fa.icon_introduction{
    color: darkolivegreen !important;
}

.fa.icon_introduction:hover{
    color: #b06010!important;
}
 /* Info Person  */

 .text-hepper--info{
     margin: 0 !important;
 }

.w3_agile_team_grid_info.person_info{
    border: 1px solid #1c5e1d;
    /* cursor: pointer; */
    border-radius: 5px;
    box-shadow: 0px 5px 16px rgb(0 0 0 / 10%);
}

.person.person_name{
    margin: 10px;
    padding: 0;
}

.home-product-item__rating.start{
    margin-bottom: 10px;
}

.name_company{
    text-align: center;
    color: black;
}

.info_company{
    color: rgb(218, 27, 27);
    font-size: 14px;
}


/* Css - helper */
.w3_agile_team_grid_info.person_info{
    margin-bottom: 16px;

}

.content_info-person{
    background-color: #1f7739;
    border-radius: 8px;
    height: 200px; 
    display: flex;
    margin-top: 10px;
}

.vh-profile-model{
    padding: 15px 20px;
    line-height: 2;
}

.modal-body-content{
    padding: 20px 20px;
}


.item-list--info{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.modal_title{
    font-size: 20px;
    color: #1f7739;
    font-weight: 700;
}

.model_text{
    list-style: none;
    font-size: 16px;
}

.modal_content_title{
    font-size: 18px;
    font-weight: bold;
}

.image-person{
    text-align: center;
    display: flex;
    justify-content: center;
}

.modal-info img {
    height: 200px; 
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    background-color: white;
    padding: 5px;
    margin-left: 22px;
    margin-bottom: -4px;
    border: 3px solid #1c5e1d;
    object-fit: cover;
  }

.modal-btn{
    display: flex;
    justify-content: center;
}

/*Page Services */


.title_name{
    color:rgb(218, 10, 148);
    font-weight: 500;
}

.content_text_label {
    font-size: 18px;
}

.image.image_project_service{
    width: 70%;
}

.list_item--info{
    list-style: none;
    font-size: 18px;
    padding-left: 18px;
}

/* Css - footer */
.fa.icon_footer{
    color: white;
}

.zalo-container {
    position: fixed;
    bottom: 84px;
    z-index: 9;
    left: 20px;
    background-color: #0c4b92;
    width: 60px ;
    height: 60px ;
    border-radius: 50%;
}

.zalo-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px ;
    height: 60px ;
}

.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}


.hotline-bar {
    position: absolute;
    background: rgba(247, 3, 3, 0.7);
    height: 40px;
    width: 225px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all .8s;
    -webkit-transition: all .8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 10%);
    border-radius: 50px!important;
    left: 20px;
    bottom: 37px;
}

.hotline-bar>a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}

span.text-hotline {
    margin-left: 10px;
}

.fa.icon_phone{
    display: inline;
    margin-left: 10px;
}